<div class="main-header home random-4">
  <div class="row">
    <div class="large-7 columns small-bottom-margin">
      <h1 class="light white-text">Home Tutoring</br>for Self Starters</h1>
      <p class="white-text">We're a team of tutors who help </br> students reach their academic dreams</p>
    </div>
  </div>
</div>

<div class="row small-top-margin">
  <div class="large-9 columns large-centered">
    <h2 class="centered-text light">How can we help you?</h2>
    <p class="centered-text lead">Behind each question is a mentor, a curriculum and self study apps. We provide personalized guidance and feedback so your child can reach their full potential.</p>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <a class="centered-text click-block" href="http://www.csonlineschool.com.au/pa">
      <%= image_tag("http://placehold.it/250x250&text=Thumbnail", alt: "CSonlineschool") %>
      <span class="title">Complete Personal Advantage</span>
      <span class="normal-text">A seven step learning system, which is blended with books, videos, podcasts, online review, tests and support.</span>
    </a>
  </div>
    <div class="large-4 columns">
    <a class="centered-text click-block" href="http://www.csonlineschool.com.au">
      <%= image_tag("http://placehold.it/250x250&text=Thumbnail", alt: "CSonlineschool") %>
      <span class="title">e-Tests and reviews</span>
      <span class="normal-text">Simulated test environment, complete with automated marking, question review and reporting.</span>
    </a>
  </div>
    <div class="large-4 columns">
    <a class="centered-text click-block" href="http://www.csonlineschool.com.au">
      <%= image_tag("http://placehold.it/250x250&text=Thumbnail", alt: "CSonlineschool") %>
      <span class="title">Live consultation and tutoring</span>
      <span class="normal-text">Get personal support, feedback and help. This is not just for students, it is also for mentors and parents.</span>
    </a>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <br>
    <hr>
  </div>
</div>

<div class="row small-margin">
  <div class="large-4 columns">
    <h3 class="light">Learning effectiveness</h3>
  </div>
  <div class="large-8 columns">
    <p>Our products are built with learning theory in mind. They follow a seven step feedback loop to ensure what you learn, you retain.</p>
  </div>
</div>

<div class="row">
  <div class="small-1 columns">
    <a class="centered-text click-block" href="#">
      <%= image_tag("http://placehold.it/50x50&text=Thumbnail", alt: "CSonlineschool") %>
      <span class="normal-text">Assessment</span>
    </a>
  </div>
  <div class="small-1 columns">
    <a class="centered-text click-block" href="#">
      <%= image_tag("http://placehold.it/50x50&text=Thumbnail", alt: "CSonlineschool") %>
      <span class="normal-text">Assessment</span>
    </a>
  </div>
  <div class="small-1 columns">
    <a class="centered-text click-block" href="#">
      <%= image_tag("http://placehold.it/50x50&text=Thumbnail", alt: "CSonlineschool") %>
      <span class="normal-text">Assessment</span>
    </a>
  </div>
  <div class="small-1 columns">
    <a class="centered-text click-block" href="#">
      <%= image_tag("http://placehold.it/50x50&text=Thumbnail", alt: "CSonlineschool") %>
      <span class="normal-text">Assessment</span>
    </a>
  </div>
  <div class="small-1 columns">
    <a class="centered-text click-block" href="#">
      <%= image_tag("http://placehold.it/50x50&text=Thumbnail", alt: "CSonlineschool") %>
      <span class="normal-text">Assessment</span>
    </a>
  </div>
  <div class="small-1 columns">
    <a class="centered-text click-block" href="#">
      <%= image_tag("http://placehold.it/50x50&text=Thumbnail", alt: "CSonlineschool") %>
      <span class="normal-text">Assessment</span>
    </a>
  </div>
  <div class="small-1 columns">
    <a class="centered-text click-block" href="#">
      <%= image_tag("http://placehold.it/50x50&text=Thumbnail", alt: "CSonlineschool") %>
      <span class="normal-text">Assessment</span>
    </a>
  </div>
  <div class="small-5 columns">
    <h3 class="light">Seven Step learning retention</h3>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <br>
    <hr>
  </div>
</div>

<div class="row small-margin">
  <h4 class="light centered-text">We have helped nearly ten thousand families reach their educational results, resulting in over a million questions being tested, reviewed and reported.</h4>
  <div class="small-2 columns">
    <a class="centered-text click-block" href="#">
      <%= image_tag("http://placehold.it/80x80&text=Thumbnail", alt: "CSonlineschool") %>
      <span class="normal-text">Child's name</span>
    </a>
  </div>
  <div class="small-2 columns">
    <a class="centered-text click-block" href="#">
      <%= image_tag("http://placehold.it/80x80&text=Thumbnail", alt: "CSonlineschool") %>
      <span class="normal-text">Child's name</span>
    </a>
  </div>
  <div class="small-2 columns">
    <a class="centered-text click-block" href="#">
      <%= image_tag("http://placehold.it/80x80&text=Thumbnail", alt: "CSonlineschool") %>
      <span class="normal-text">Child's name</span>
    </a>
  </div>
  <div class="small-2 columns">
    <a class="centered-text click-block" href="#">
      <%= image_tag("http://placehold.it/80x80&text=Thumbnail", alt: "CSonlineschool") %>
      <span class="normal-text">Child's name</span>
    </a>
  </div>
  <div class="small-2 columns">
    <a class="centered-text click-block" href="#">
      <%= image_tag("http://placehold.it/80x80&text=Thumbnail", alt: "CSonlineschool") %>
      <span class="normal-text">Child's name</span>
    </a>
  </div>
  <div class="small-2 columns">
    <a class="centered-text click-block" href="#">
      <%= image_tag("http://placehold.it/80x80&text=Thumbnail", alt: "CSonlineschool") %>
      <span class="normal-text">Child's name</span>
    </a>
  </div>  
</div>